body{
    margin: 0;
}
div{
    float: left;
    margin: 1.65%;
    width: 30%;
    padding-top: 30%;
    background: #FF9F00;
    border-radius: 8%;
}
/*.lattice{
    width: 100%;
    height: 100%;
}
.layer{
    float: left;
}
.sub-box{
    background-color: yellow;
    width: 250px;
    height: 250px;
    float: left;
    margin: 5px;
}*/
